@model IEnumerable<OrderFoodOnlineSystem.ViewModels.OrderViewModels.OrderViewModel>

@{
    Layout = "~/Views/Shared/_RestaurantManagerLayout.cshtml";
}


<section class="section-padding d-flex justify-content-center align-items-center mt-5">
    <div class="container">
        <table class="table" style="background-color: white; border: 2px solid #C1272D; border-collapse: collapse;">
            <thead style="background-color: white; color: #C1272D; border-bottom: 2px solid #C1272D;">
                <tr>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-light-black fs-14">Order Date</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-light-black fs-14">Status</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-light-black fs-14">Total Price</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-light-black fs-14">Customer Name</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-light-black fs-14">Address Details</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-light-black fs-14"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="border: 1px solid #C1272D;">
                        <td style="border: 1px solid #C1272D;" class="text-light-black fs-14">@item.OrderDate</td>
                        <td style="border: 1px solid #C1272D;">
                            <form asp-action="Edit" asp-controller="Order" id="form-@item.Id">
                                <input type="hidden" asp-for="@item.Id" name="Id" />
                                <select class="form-control" style="font-size: 14px;"
                                        asp-for="@item.Status" name="Status"
                                        asp-items="@Html.GetEnumSelectList<OrderStatus>()">
                                </select>
                            </form>
                        </td>
                        <td style="border: 1px solid #C1272D;" class="text-light-black fs-14">@item.TotalPrice</td>
                        <td style="border: 1px solid #C1272D;" class="text-light-black fs-14">@item.CustomerName</td>
                        <td style="border: 1px solid #C1272D;" class="text-light-black fs-14">@item.AddressDetails</td>
                        <td class="d-grid gap-2 d-sm-flex justify-content-evenly">
                            <a href="javascript:document.getElementById('form-@item.Id').submit();" class="btn btn-danger p-1 px-2 w-35 w-sm-auto">Save</a>
                            <a asp-controller="Order" asp-action="DetailsRestaurant" asp-route-id="@item.Id" class="btn btn-danger p-1 px-2 w-40 w-sm-auto">Show Order Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>