@model OrderFoodOnlineSystem.ViewModels.OrderViewModels.DetailsOrderViewModel

<div class="tracking-sec">
    <div class="tracking-details padding-20 p-relative">

        <span class="text-light-white">Order Date</span>
        <p class="text-light-black fw-700 fs-4 no-margin">
            @Model.OrderDate.ToString("MMM d, yyyy h:mmtt")
        </p>
        <div id="add-listing-tab" class="step-app">

            @if (Model.Status == OrderStatus.Cancelled)
            {
                <div class="alert alert-danger text-center">
                    <strong>Order Cancelled</strong><br>
                    Your order was cancelled.
                </div>
            }
            else
            {
                <ul class="step-steps">
                    <li class="@(Model.Status == OrderStatus.Pending ? "active" : (Model.Status > OrderStatus.Pending ? "done" : ""))">
                        <a href="javascript:void(0)">
                            <span class="number"></span>
                            <span class="step-name">Order sent</span>
                        </a>
                    </li>
                    <li class="@(Model.Status == OrderStatus.Confirmed ? "active" : (Model.Status > OrderStatus.Confirmed ? "done" : ""))">
                        <a href="javascript:void(0)">
                            <span class="number"></span>
                            <span class="step-name">In the works</span>
                        </a>
                    </li>
                    <li class="@(Model.Status == OrderStatus.OutForDelivery ? "active" : (Model.Status > OrderStatus.OutForDelivery ? "done" : ""))">
                        <a href="javascript:void(0)">
                            <span class="number"></span>
                            <span class="step-name">Out for delivery</span>
                        </a>
                    </li>
                    <li class="@(Model.Status == OrderStatus.Delivered ? "active" : "")">
                        <a href="javascript:void(0)">
                            <span class="number"></span>
                            <span class="step-name">Delivered</span>
                        </a>
                    </li>
                </ul>
            }




        </div>
    </div>

</div>
<!-- recipt -->
<div class="recipt-sec padding-20">
    <div class="recipt-name title u-line full-width mb-xl-20">
        <div class="recipt-name-box">
            <h5 class="text-danger fw-600 mb-1 fs-4">@Model.Restaurant?.Name</h5>
        </div>

    </div>
    <div class="u-line mb-xl-20">
        <div class="row">
            <div class="col-lg-4">
                <div class="recipt-name full-width padding-tb-10 pt-0">
                    <h5 class="text-light-black fw-600">Delivery (ASAP) to:</h5>
                    <span class="text-light-white ">@Model.Customer?.FirstName</span>
                    <span class="text-light-black fw-600">Address</span>
                    <span class="text-light-white ">@Model.Address?.BuildingNum @Model.Address?.Street @Model.Address?.City</span>
                    <span class="text-light-white ">Apartment @Model.Address?.Apartment - Floor @Model.Address?.Floor</span>
                    <p class="text-light-white ">@Model.Address?.PhoneNum</p>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                @* <div class="ad-banner padding-tb-10 h-100"> *@
                @*     <img src="~/assets/img/details/banner.jpg" class="img-fluid full-width" alt="banner-adv"> *@
                @* </div> *@
                
                <div class="ad-banner padding-tb-10 h-100 text-center ml-5">
                    <img src="~/assets/img/Delivery.jpeg" class="img-fluid" alt="banner-adv" style="max-width: 45%; height: auto;">
                </div>

            </div>
        </div>
    </div>
    <div class="u-line mb-xl-20">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <h5 class="text-light-black fw-600 d-inline">Your Order</h5>
                <span class="text-light-black ms-2 fs-6">#Order @Model.Id</span>
            </div>

            <div class="col-lg-12">
                @if (Model?.OrderItems != null)
                {
                    foreach (var orderItem in Model?.OrderItems)
                    {
                        <div class="checkout-product">
                            <div class="img-name-value">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="~/@orderItem.MenuItem?.ImageUrl" alt="#" class="product-image">
                                    </a>
                                </div>
                                <div class="product-value mt-4">
                                    <span class="text-light-white fs-7 fw-600">@orderItem.Quantity</span>
                                </div>
                                <div class="product-name mt-4">
                                    <span><a href="#" class="text-light-white fs-7">@orderItem.Name</a></span>
                                </div>
                            </div>
                            <div class="price mt-4">
                                <span class="text-light-white fw-600">@orderItem.TotalPrice EGP</span>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="payment-method mb-md-40">
                <h5 class="text-light-black fw-600">Payment Method</h5>

                <div class="method-type">
                    @if (Model.PaymentMethod == PaymentMethod.Cash)
                    {

                        <i class="bi bi-cash-stack"></i>
                    }
                    else @if (Model.PaymentMethod == PaymentMethod.PayPal)
                    {
                        <i class="bi bi-paypal"></i>

                    }
                    <span class="text-light-white">@Model.PaymentMethod</span>
                </div>

            </div>
        </div>
        <div class="col-lg-5">
            <div class="price-table u-line">
                <div class="item">
                    <span class="text-light-white">Item subtotal:</span>
                    <span class="text-light-white">@(Model?.TotalPrice - (Model?.Restaurant?.DeliveryFees ?? 0)) EGP</span>
                </div>
                <div class="item">
                    <span class="text-light-white">Delivery fee:</span>
                    <span class="text-light-white">@Model?.Restaurant?.DeliveryFees EGP</span>
                </div>
            </div>
            <div class="total-price padding-tb-10">
                <h5 class="title text-light-black fw-700">Total: <span>@Model?.TotalPrice EGP</span></h5>
            </div>
        </div>
        <div class="col-12 d-flex">
            <a href="#" class="btn-first white-btn fw-600 help-btn">Need Help?</a>
        </div>
    </div>
</div>
