@model IEnumerable<OrderFoodOnlineSystem.ViewModels.RestaurantViewModels.RestaurantViewModel>

@{
    List<FavouriteRestaurant>? favoriteRestaurants = ViewBag.favoriteRestaurants;
}

<!-- Navigation -->
<!-- Browse by category -->

<div class="most-popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 browse-cat border-0">
                <div class="row">
                    @if (Model != null)
                    {
                        if (ViewBag.HasRestaurants)
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-12 product-list-view d-flex align-items-center">
                                    <div class="product-image me-3" style="width: 100px;">
                                        <a asp-action="Details" asp-controller="Restaurant" asp-route-id="@item.Id">
                                            <img src="~/@item.ImageUrl" class="img-fluid" alt="#" />
                                        </a>
                                    </div>
                                    <div class="product-details flex-grow-1">
                                        <div class="d-flex align-items-center" style="width: 100%;">
                                            <h5 class="card-title mb-1 me-2">
                                                <a asp-action="Details" asp-controller="Restaurant" asp-route-id="@item.Id" class="text-light-black fw-600">
                                                    @item.Name
                                                </a>
                                            </h5>
                                            <div class="ps-2">
                                                <span class="text-custom-white rectangle-tag bg-yellow ">@item.AverageRating</span>
                                            </div>


                                        </div>
                                        <div class="description text-muted mt-1 " style="max-width:38vw">
                                            @item.Description
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-center" style="width: 20%;">
                                        <div>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= Math.Floor(item.AverageRating))
                                                {
                                                    <i class="fas fa-star text-yellow"></i>
                                                }
                                                else if (i == Math.Ceiling(item.AverageRating) && item.AverageRating % 1 != 0)
                                                {
                                                    <i class="fas fa-star-half-alt text-yellow"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-star text-light-green"></i>
                                                }
                                            }
                                        </div>
                                        <span class="text-light-white fs-12">@item.NumOfReviews ratings</span>
                                    </div>
                                    <div class="d-flex justify-content-center" style="width: 10%;">
                                        @{
                                            int cusId = 0;
                                            int.TryParse(User.FindFirst("UserId")?.Value, out cusId);
                                            var classFav = favoriteRestaurants != null && favoriteRestaurants.Any(f => f.RestaurantId == item.Id) ? "favorite" : "not-favorite";
                                            var classFavFlag = classFav == "favorite" ? "true" : "false";
                                        }
                                        <button class="@classFav toggle-favorite" data-favorite="@classFavFlag"
                                                data-id="123" aria-label="Remove from favorites"
                                                data-restaurant-id="@item.Id" data-customer-id="@cusId"></button>
                                    </div>
                                    <div class="d-flex flex-column align-items-center" style="width: 20%;">
                                        <span class="text-muted">Serving time</span>
                                        <span class="text-muted">@item.DateOpen - @item.DateColse</span>
                                    </div>

                                </div>


                            }
                        }
                        else
                        {
                            <p>No restaurants found.</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ToggleScriptsPartial"></partial>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>