@model IEnumerable<OrderFoodOnlineSystem.Models.MenuItem>

@{
    Layout = "~/Views/Shared/_RestaurantManagerLayout.cshtml";
}



<section class="section-padding d-flex justify-content-center align-items-center mt-5">


    <div class="container">

        <a asp-action="Create" asp-controller="MenuItem" class="btn btn-danger p-1 px-2 w-35 mb-3">Add Item</a>

        <table class="table" style="background-color: white; border: 2px solid #C1272D; border-collapse: collapse;">
            <thead style="background-color: white; color: #C1272D; border-bottom: 2px solid #C1272D;">
                <tr>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14">Name</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14">Description</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14">Price</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14">Image</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14">IsAvailable</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14">Category</th>
                    <th style="color: #C1272D; border: 1px solid #C1272D;" class="text-center text-light-black fs-14"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle text-light-black fs-14" style="border: 1px solid #C1272D;">@item.Name</td>
                        <td class="align-middle text-light-black fs-14" style="border: 1px solid #C1272D; max-width:300px">@item.Description</td>
                        <td class="text-center align-middle text-light-black fs-14" style="border: 1px solid #C1272D;">@item.Price EGP</td>
                        <td class="d-flex justify-content-center align-middle text-light-black fs-14" style="border-bottom: 1px solid #C1272D;">
                            <img src="~/@item.ImageUrl" style="width: 100px; height: 100px; object-fit: contain;" />
                        </td>
                        <td class="text-center align-middle text-light-black fs-14" style="border: 1px solid #C1272D;">@item.IsAvailable</td>
                        <td class="text-center align-middle text-light-black fs-14" style="border: 1px solid #C1272D;">@item.Category?.Name</td>
                        
                        <td class="align-middle text-light-black fs-14 text-center" style="border: 1px solid #C1272D;">
                            <div class="d-flex justify-content-center gap-2">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger p-1 px-2 w-35">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger p-1 px-2 w-35"
                                   onclick="return confirm('Are you sure you want to delete this Item?');"
                                   >Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>

